
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");

.body-bg {
  background-image: url("/images/Landing_Page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.footer-bg {
  background-image: url("/images/WhatsApp Image 2026-01-21 at 10.33.39 AM.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 100%;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}
.frame {
  overflow: hidden;
  clip-path: polygon(
    0% 0%,
    32% 0%,
    36% 6%,
    64% 6%,
    68% 0%,
    100% 0%,
    100% 100%,
    68% 100%,
    64% 94%,
    36% 94%,
    32% 100%,
    0% 100%
  );
}

.frame video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tenant {
  background-color: white !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.propertySwiper {
  padding-bottom: 40px;
}

.property-slide {
  width: 220px;
}

@media (min-width: 640px) {
  .property-slide {
    width: 260px;
  }
}

@media (min-width: 1024px) {
  .property-slide {
    width: 300px;
  }
}